@typeparam TItem

<Table TItem="TItem" IsBordered="true" IsStriped="true" TableColumns="TableColumns" ShowToolbar="true" ShowExtendButtons="true"
       IsTree="IsTree" TreeNodeConverter="TreeNodeConverter"
       BeforeRowButtonTemplate="BeforeRowButtonTemplate" RowButtonTemplate="RowButtonTemplate"
       ShowExtendEditButtonCallback="ShowExtendEditButtonCallback" ShowExtendDeleteButtonCallback="ShowExtendDeleteButtonCallback"
       OnSaveAsync="OnSaveAsync" OnDeleteAsync="OnDeleteAsync"></Table>