@inherits LayoutComponentBase

<BootstrapBlazorRoot>
<div class="container">
    <div class="row">
        <div class="col-12">
            <Card class="shadow-lg border-0 my-5">
                <BodyTemplate>
                    @Body
                </BodyTemplate>
            </Card>
        </div>
    </div>
</div>
</BootstrapBlazorRoot>